.lightbulb {
	width: 30px;
	height: 30px;	
	border-radius: 50%;
	box-shadow: 2px 1px 1px black;
	border: 1px solid #1c1c1c;
	margin-top: -15px;
	background: rgb(48,48,48);
	background: radial-gradient(circle, rgba(48,48,48,1) 0%, rgba(36,36,36,1) 100%);
}

.lightbulbDefault {
	background: rgb(48,48,48);
	background: radial-gradient(circle, rgba(48,48,48,1) 0%, rgba(36,36,36,1) 100%);
}

.lightbulbred {
	background: rgb(255,178,178);
	background: radial-gradient(circle, rgba(255,178,178,1) 0%, rgba(221,61,61,1) 100%);
}

.lightbulborange {
	background: rgb(255,192,147);
	background: radial-gradient(circle, rgba(255,192,147,1) 0%, rgba(244,132,52,1) 100%);
}

.lightbulbyellow {
	background: rgb(254,232,172);
	background: radial-gradient(circle, rgba(254,232,172,1) 0%, rgba(255,203,59,1) 100%);
}

.lightbulbgreen {
	background: rgb(189,246,173);
	background: radial-gradient(circle, rgba(189,246,173,1) 0%, rgba(92,139,80,1) 100%);
}

.lightbulbblue {
	background: rgb(211,253,255);
	background: radial-gradient(circle, rgba(211,253,255,1) 0%, rgba(110,197,200,1) 100%);
}

.lightbulbindigo{
	background: rgb(190,214,251);
	background: radial-gradient(circle, rgba(190,214,251,1) 0%, rgba(56,107,184,1) 100%);
}

.lightbulbviolet {
	background: rgb(227,197,254);
	background: radial-gradient(circle, rgba(227,197,254,1) 0%, rgba(129,103,153,1) 100%);
}

.lightbulbpink {
	background: rgb(252,203,218);
	background: radial-gradient(circle, rgba(252,203,218,1) 0%, rgba(227,125,155,1) 100%);
}

.lightbulb:hover {
	opacity: 50%;
}

.lightbulb:nth-child(2n){
	height: 1px;
	visibility: hidden;
}

@media (max-width: 780px) {
	.lightbulb {
		width: 25px;
		height: 25px;
	    margin-top: -12.5px;
	    margin-bottom: 1px;
		box-shadow: 1px 1px black;
	}
	.lightbulb:nth-child(2n){
		height: 1px;
	}
}