.grid {
	width: 780px;
	height: 640px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 6px 0 6px 0;
	border-top: 8px solid #1c1c1c;
	border-left: 8px solid #1c1c1c;
	border-right: 8px solid #1c1c1c;
	border-bottom: 0px solid #1c1c1c;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
	background: rgb(68,68,68);
	background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(27,27,27,1) 100%);
	overflow: hidden;

}

@media (max-width: 780px) {
	.grid {
		width: 340px;
		height: 306px;
		box-shadow: none;
		padding: 5px 2px;
		border-top: 2px solid #1c1c1c;
		border-left: 2px solid #1c1c1c;
		border-right: 2px solid #1c1c1c;
	}
}