.palette {
	width: 780px;
	height: 100%;
	background-color: #1c1c1c;
	border-left: 4px solid #1c1c1c;
	border-right: 4px solid #1c1c1c;
	border-bottom: 4px solid #1c1c1c;
	box-shadow: 2px 0px 4px black;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

@media (max-width: 780px) {
	.palette {
		width: 510px;
	}
}

@media (max-width: 490px) {
	.palette {
		width: 400px;
	}
}

@media (max-width: 400px) {
	.palette {
		width: 350px;
	}
}


